.container {
    max-width: 960px;
    margin: 0 auto;
}
.logo-imglogo{
    width: 35%;
  
}
.header {
    background: #75a0db;
    height: 80px;
}
.header-con {
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}
.logo-container a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 2rem;
}
.menu {
    display: flex;
    list-style-type: none;
}
.menu li {
    padding-right: 2rem;
}
.menu li a {
text-decoration: none;
color: white;
}
.mobile-menu {
    display: none;
}
.button{
    cursor: pointer;
}
.button:hover {
    background: #fff;
    color: #111;
    border-radius: 10px;
}
@media screen and (max-width: 590px ) {
    .mobile-menu{
        display: block;
        color: white;
        font-size: 2rem;
    }
    .header {
        padding: 0 2rem;
    }
    .menu {
        width: 100%;
        height: auto;
        display: flex;
        position: absolute;
        flex-direction: column;
        top: 64px;
        left: -100%;
        opacity: 0;
        transition: 0.5s ease;
    }
    .menu.active {
        background: #111;
        left: 0;
        opacity: 1;
        z-index: 1;
        padding-left: 0;
        align-content: center;
        transition: 0.5s ease;
    }
    .menu li {
        padding-right: 0;
    }
    .menu-link{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 10vw;
        padding: 10px 0;
    }
}