.container {
  max-width: 960px;
  margin: 0 auto;
}
.content-con {
  display: flex;
  justify-content: space-between;
}
.logo-team {
  width:40%;
  height: 25%;
}
.con-imglogo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-con:first-child,
.content-con:last-child {
  padding: 4rem 0;
}
.content-l img {
  width: 100%;
  border-radius: 10px;
}
.content-r {
  padding: 1rem;
  text-align: left;
}
.content-text {
  padding: 1rem;
  text-align: center;
}
.line-1 {
  width: 70%;
}
.wel-text {
  display: flex;
}
.box-line {
  width: 2px;
  height: 140px;
  background-color: darkgray;
}
.text-company {
  margin-top: 40px;
}
.bt-lc {
  display: inline-flex;
  align-items: center;
  justify-items: center;
  margin-left: 20px;
}
.a-learn {
  text-decoration: none;
  border: 2px solid white;
  padding: 5px;
  border-radius: 5px;
  color: white;
  background-color: black;
}

.a-con {
  margin-left: 10px;
  text-decoration: none;
  border: 2px solid white;
  padding: 5px;
  border-radius: 5px;
  color: white;
  background-color: black;
}

@media screen and (max-width: 480px) {
  .content-con {
    flex-direction: column;
  }
  .wel-text {
    flex-direction: column;
  }
  .box-line {
    width: 80%;
    height: 1px;
    margin-left: 50px;
  }
  .text-company {
    text-align: center;
  }
  .bt-lc {
    display: inline-flex;
    align-items: center;
    justify-items: center;
    margin-left: 0px;
  }
  .content-con:first-child,
  .content-con:last-child {
    padding: 1rem 0;
  }
}
